{% load static %}
<!--fact-area start-->
<section id="fact2" class="fact2 pdd-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <br><br>
                <h3 style="color:green" align="right">Moving Forward With Ease And Safety...</h3><br><br>
            </div>



        </div>
    </div>
</section>
<!--fact-area end-->



<!-- footer start -->
<footer>
    <div class="footer pdd-10">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h3 class="f-title">Our Services </h3>
                    <div class="custom">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="quick-links">
                                    <ul>
                                        <li><a href="{% url 'rickshaw' %}"><i class="fa fa-angle-right"></i>
                                                E-Rickshaw</a></li>
                                        <li><a href="{% url 'van' %}"> <i class="fa fa-angle-right"></i>
                                                Van</a></li>
                                        <li><a href="{% url 'bus' %}"> <i class="fa fa-angle-right"></i>
                                                Bus</a></li>



                                    </ul>
                                </div>

                            </div>
                            <br><br><img src="{% static 'assets/images/bg/make_in_india_logo.png' %}"><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h3 class="f-title">Our Company</h3>
                    <div class="custom">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="quick-links">
                                    <ul>
                                        <li><a href="{% url 'home' %}"><i class="fa fa-angle-right"></i> Home</a></li>
                                        <li><a href="{% url 'about' %}"> <i class="fa fa-angle-right"></i> About
                                                Us</a></li>

                                        <li><a href="{% url 'media' %}"> <i class="fa fa-angle-right"></i>
                                                Media Center</a></li>

                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h3 class="f-title">Why with us</h3>
                    <div class="custom">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="quick-links">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-angle-right"></i> Easy and Safe
                                          </a></li>
                                        <li><a href="#"> <i class="fa fa-angle-right"></i>
                                                Dedicated Customer Support</a></li>
                                        <li><a href="#"> <i class="fa fa-angle-right"></i>
                                                Economical</a></li>

                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


                <!-- /.col -->


                <!-- /.col -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h3 class="f-title">Contact Us</h3>
                    <div class="c-menu">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-paper-plane-o"> </i>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <p><b>RAJKIYA ENGINEERING COLLEGE BIJNOR</b><br>Jaleel Pur,Road,near Eid Gah,<br>
                                  Chandpur,
                                    Bijnor<br> Uttar Pradesh - 246725
                                    INDIA</p>
                            </div>
                        </div>
                    </div>
                    <div class="c-menu">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-phone"> </i>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <p><small><a href ="#"> +91 9559652054</a>, <br><a
                                            href="#">8756263784</a>
                            </div>
                        </div>
                    </div>
                    <div class="c-menu">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-envelope-o"> </i>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <p><a href="mailto:info@saarthierickshaw.com">info@saarthierickshaw.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li>
                                <a class="fb" href="https://www.facebook.com/saarthieauto/" target="blank"><i
                                        class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="tw" href="https://twitter.com/Saarthieauto1" target="blank"><i
                                        class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="pn" href="https://www.instagram.com/saarthieauto/" target="blank"><i
                                        class="fa fa-instagram"></i></a>
                            </li>

                            <li>
                                <a class="ln" href="https://www.youtube.com/channel/UCerXk2TXdZzJ0MIOgO-VthA/"
                                    target="blank"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer -->
    <div class="t3-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="center">
                        <p align="center">Copyright &copy; 2020 SAARTHI E-RICKSHAW. All Rights Reserved.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
</div>

<!--=== all js here ===-->

<!-- load jquery -->
<script src="{% static 'assets/js/jquery-2.2.2.min.js' %}"></script>

<!--modernizr.custom-->
<script src="{% static 'assets/js/modernizr.custom.js' %}"></script>

<!-- load bootstrap -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!--revolution js-->
<script src="{% static 'assets/js/extensions/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.video.min.js' %}"></script>

<!-- owl.carousel js -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<!-- meanmenu js -->
<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>

<!-- isotope js -->
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>

<!-- jquery-ui js -->
<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>

<!--jquery counterup-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>

<!--waypoints js-->
<script src="{% static 'assets/js/waypoints-jquery.js' %}"></script>

<!-- wow js -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>

<!--jquery scrollUp-->
<script src="{% static 'assets/js/jquery.scrollUp.js' %}"></script>

<!--venobox.min js-->
<script src="{% static 'assets/js/venobox.min.js' %}"></script>

<!--datepicker js-->
<script src="{% static 'assets/js/bootstrap-datepicker.js' %}"></script>

<!-- main js -->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
