{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--services-area start-->
        <section id="services-area" class="services-area pdd-40">
            <div class="container">

                <div class="row">


                    <div class="col-md-12">
                        <img src="{% static 'assets/images/bg/about_us_banner .jpg' %}" width="1140" height="372">
                        <div class="section-title text-center">
                            <h3>About Us</h3>

                            <p>SAARTHI e-Rickshaws are India's leading brand for launching e-Rickshaw (Battery Driven
                                Technology) in the Country. We believe in our ideas to change the world of our long
                                decades man pulled rickshaws in our country.</p>
                            <p>
                                With aim to manufacture a Rickshaw which is not man pulled and secondly also not effects
                                our environment with any kind of pollution (Air and Noise). Our continues research &
                                development results Saarthi e-Rickshaw birth.</p>
                            <p>
                                And today we have wide variety of e-Rickshaws / Electric Vehicles (Battery Driven) under
                                the brand name "SAARTHI" e-Rickshaw.</p>
                            <p>We are actively participates in all the electric vehicle promotions exibitions & events
                                all over the country to drive faster adoption of electric vehicles to ensure a
                                progressive and greener future in the mobility system of the India.</p>
                            <p>
                                We are committed towards creating better, enriching & empowering experience for our
                                customers, with continues R&D by our highly experienced professionals and technicians.
                            </p>
                            <h4>
                                Building A Better World... For Tomorrow !</h4>
                            <br>

                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <img src="{% static 'assets/images/bg/1_icat_approved_e_rickshaw.png' %}">
                            </div>
                            <div class="col-md-4">
                                <img src="{% static 'assets/images/bg/2_fame_2_certified_e_rickshaw.png' %}">
                            </div>
                            <div class="col-md-4">
                                <img src="{% static 'assets/images/bg/3_india_first_e_rickshaw.png' %}">
                            </div>

                        </div>
                    </div>
                    <br>

        </section>
        <!--services-area end-->

{% endblock %}
