{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description"
        content="SAARTHI e-Rickshaws are India's leading brand for launching e-Rickshaw (Battery Driven Technology) in the Country. We believe in our ideas to change the world of our long decades man pulled rickshaws in our country." />
    <meta name="keywords"
        content="saarthi, erickshaw, electric rickshaw, electronic rickshaw, electric vehicles, battery rickshaw, electric power, electric 3 wheeler, electric auto, battery auto rickshaw, lithium ion battery, e mobility, e, rick, shaw, battery driven, satar, plus, dlx, shavak, shavak cargo, l5, golf cart, battery cart, ecart, shaktiman, ecab,  " />
    <meta name="author" content="SAARTHI e-RICKSHAWS" />

    <title>SAARTHI</title>



    <!-- load google font -->

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:300,400,600,700"
        rel="stylesheet">

    <!--=== all css here ===-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fo
nt-awesome.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">

    <!-- meanmenu css -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">

    <!-- revolution slider css -->
    <link rel="stylesheet" href="{% static 'assets/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'as' %}sets/css/navigation.css' %}">

    <!--  hover css  -->
    <link rel="stylesheet" href="{% static 'assets/css/hover-min.css' %}">

    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">

    <!-- icon-font css -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">

    <!-- venobox -->
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css' %}">

    <!-- style css -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- responsive css -->
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>





<body>




  <!-- navbar -->

  {% include 'includes/header.html' %}



  <!-- main page -->


{% block content %}

{% endblock %}

<!-- footer -->

{% include 'includes/footer.html' %}
